body{
    background-image: url(img/2.jpg);
    background-repeat: no-repeat;
}

.Група_Крови{
    color: white;
}
.Пачка_Сигарет{
    color: white;
}
.Хочу_Перемен{
    color: white;
}
.Кончится_Лето{
    color: white;
}
.Звезда_по_имени_Солнце{
    color: white;
}
.Дальше_действовать_будем_мы{
    color: white;
}
.Спокойная_ночь{
    color: white;
}